body {
  font-family: Arial;
  background-color: #181515;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 50%;
  margin: auto;
  /* border: 1px solid #333; */
}
.container h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.ask-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ask-box input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.ask-box button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.card {
  background: white;
  padding: 15px;
  color: black;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.summary {
  background: #e9f5ff;
  color: #181515;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #007bff;
}

.loading {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}